* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #27272a;
    color:lightpink;
    font-family: "Sono", sans-serif;
    padding: 40px;
}

.header {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.logo{
    background-color: blue;
    display: flex;
    align-items: center;
    gap: 16px;
}
.fact-form {
    background-color: #44403c;
    margin-bottom: 40px;
    padding: 16px, 40px;
}

h1 {
    font-size: 42px;
    text-transform: uppercase;
    font-family: "Coiny", sans-serif;
    background-color: purple;
    line-height: 1;
    margin-top: 6px;
    margin-left: 20px;
}

.fact {
    font-size: 20px;
    line-height: 1.4;
    background-color: #52525b;
    margin-bottom: 16px;
    padding: 16px, 24px;
    text-align: center;
}

.tag {
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Coiny", sans-serif;
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

ul {
    list-style: none;
}